.braintree-payment-hosted-field-iframe-wrapper {
  height: 1.5em;
  border: 1px solid #ccc;
  padding: 4px;
  margin: 2px 0;
}
.braintree-payment-hosted-field-iframe-wrapper.error {
  background-image: none;
}
